{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock title %}

{% block content %}

<div class="container main-part">
<div class="row">
{% if user.user_type == 'Service Provider' %}
<h1> <a href = "{% url 'hire' %}" class = "btn btn-success"> Post New Job </a> </h1>
{% else %}
{% endif %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% comment %} {% if  %}

user status with service Provider should not have access to other jobs while
user status with service render should only have access to jobs posted by service providers
{% else %}

{% endif %} {% endcomment %}

{% if  user.user_type == 'Service Provider' %}

{% else %}
{% if services %}

    {% for service in services %}
    
        {% comment %} {% if service.type_of == "Service Provider" %} {% endcomment %}

  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{service.title}}</h5>
        <p class="card-text"><img src="https://img.icons8.com/ios/100/000000/new-job.png"></p>
        <p class="card-text">{{service.description}}</p>
        <p class="card-text"><img src="https://img.icons8.com/office/50/000000/worldwide-location.png"/>
        {{service.location}}</p>
        <p class="card-text">{{service.type_of}}</p>
        <a href="#" class="text-danger">Posted on: {{service.date_posted}}</a>
      </div>
      <div class="card-footer">
      <a href="{% url 'view' pk=service.pk %}" class="btn btn-success">View</a>
      </div>
    </div>
  </div>


        {% comment %} {% else %} {% endcomment %}

        {% comment %} {% endif %} {% endcomment %}
    {% endfor %}

{% endif %}
{% endif %}


</div>
</div>


{% endblock content %}
