{% extends 'base.html' %}
{% load static %}
{% block title %}
Search Result
{% endblock title %}

{% block content %}

<div class="container main-part">
  {% comment %} <p class="d-block font-weight-light my-2 heading">You have not saved any contact yet</p> {% endcomment %}

<div class="container py-5 col-md-12 seee">    
   <h5 class="btn btn-info btn-lg"> Hire Freelancers on handy! </h5><br>
    <h6 class="btn btn-warning btn-lg">And make things happen!</h6>
</div>    

<hr>
<div class="container">
<h3 class="heading font-weight-light text-center text-default">How it works</h3>
<br>
</div>
 
<div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Post a Job</h5>
        <p class="card-text"><img src="https://img.icons8.com/ios/100/000000/new-job.png"></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Bids comes to you</h5>
        <p class="card-text"><img src="https://img.icons8.com/ios/100/000000/play-for-work.png"></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
</div>
</div>


{% endblock content %}
