{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock title %}

{% block content %}

<div class="container main-part">
<div class="row">
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if notifications %}

    {% for notification in notifications %}

  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{notification.service_name}}</h5>
        <p>{{notification.mycost}}</p>
        <p>{{notification.render_name}}</p>
        <p>{{notification.render_email}}</p>
        <p>{{notification.location}}</p>
        <p>{{notification.available_from}}</p>
        <p>{{notification.available_to}}</p>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>


        {% comment %} {% else %} {% endcomment %}

        {% comment %} {% endif %} {% endcomment %}
    {% endfor %}

{% endif %}

</div>
</div>


{% endblock content %}
